.footer {
    background: #0078ab;

    width: 100%;
    padding: 30px 0;

    font-size: $font-size-small;
    font-family: $font-family-default;

    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        max-width: 940px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__navigation {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        color: white;
        opacity: .94;
        text-decoration: none;
    }
    
    &__info {
        display: flex;
        justify-content: center;
        align-items: center;

        color: white;
        opacity: .94;
    }
}

@media (max-width: 992px) {
    .footer {
        &__container {
            flex-direction: column;
        }

        &__navigation {
            width: 100%;
            justify-content: space-around;
        }

        &__info {
            padding-top: 25px;
        }
    }
}

@media (max-width: 576px) {
    .footer {
        &__navigation {
            flex-direction: column;
        }

        &__navigation-item {
            margin: 4px 0;
        }
    }
}