.page {
    height: 5000px;
    box-sizing: border-box;

    &__header {
        height: calc(100vh - 115px);
    }
}

// Large
@media (min-width: 992px) and (max-width: 1200px) {
    .page__header {
        height: calc(100vh - 95px);
    }
}

// Medium
@media (min-width: 768px) and (max-width: 992px) {
    .page__header {
        height: calc(100vh - 75px);
    }
}

// Small
@media (min-width: 576px) and (max-width: 768px) {
    .page__header {
        height: calc(100vh - 75px);
    }
}

// Extra small
@media (max-width: 576px) {
    .page__header {
        height: calc(100vh - 280px);
    }
}