// Font-families

$font-family-main: 'Bungee', cursive;
$font-family-default: 'Josefin Sans', sans-serif;

// Font-sizes

$font-size-extra-large: 48px;
$font-size-large: 36px;
$font-size-medium: 24px;
$font-size-small: 18px;